<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="scenarios" type="databases2.ScenariosConfigurationSection, databases2" />
	</configSections>
	<connectionStrings>
		<add name="databases2.Properties.Settings.hardwarestoreConnectionString"
            connectionString="Data Source=DESKTOP-FTT6DNB\SQLEXPRESS;Initial Catalog=hardwarestore;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="case" value="1"/>
		<add key="ParentTableName" value="Employees"/>
		<add key="ChildTableName" value ="Tasks"/>
		<add key="IndexID" value="0"/>
		<add key="ChildToParentID" value="assignedEid"/>
		<add key="ChildNumberOfCollumns" value="2"/>
		<add key="ChildCollumnNames" value="taskId,taskDesc"/>
		<add key="ChildCollumnTypes" value="int,string"/>
		<add key="ChildArray" value="@taskId,@taskDesc,@assignedEid"/>
		<add key="ChildInsertQuery" value="INSERT INTO Tasks(taskId, taskDesc, assignedEid) VALUES
			 (@taskId, @taskDesc, @assignedEid)"/>
		<add key="ChildDeleteQuery" value="DELETE FROM Tasks WHERE taskId=@id"/>
		<add key="ChildUpdateQuery" value="UPDATE Tasks set assignedEid=@AssignedEid,taskDesc=@taskDesc where taskId=@id"/>

		<add key="ParentTableName1" value="Customers"/>
		<add key="ChildTableName1" value ="Orders"/>
		<add key="IndexID1" value="0"/>
		<add key="ChildToParentID1" value="Cid"/>
		<add key="ChildNumberOfCollumns1" value="2"/>
		<add key="ChildCollumnNames1" value="Oid,OrderDate"/>
		<add key="ChildCollumnTypes1" value="int,date"/>
		<add key="ChildArray1" value="@Oid,@OrderDate,@Cid"/>
		<add key="ChildInsertQuery1" value="INSERT INTO Orders(Oid,OrderDate,Cid) VALUES (@Oid,@OrderDate,@Cid)"/>
		<add key="ChildDeleteQuery1" value="DELETE FROM Orders WHERE Oid=@id"/>
		<add key="ChildUpdateQuery1" value="UPDATE Orders set Cid=@Cid,OrderDate=@OrderDate where Oid=@id"/>
	</appSettings>
	<scenarios>
		<scenario name="Version1">
			<add key="Key" value="Value1"/>
		</scenario>
		<scenario name="Version2">
			<add key="Key" value="Value2"/>
		</scenario>
	</scenarios>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
